<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row dashboard-stats">
        <div class="col-lg-3 col-sm-6">
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-success">
                    <i class="fa fa-rocket text-large stat-icon"></i>
                </div>
                <div class="panel-right panel-item bg-reverse">
                    <p class="size-h1 no-margin">80<span class="size-h3">%</span></p>
                    <p class="text-muted no-margin"><span data-i18n="Growth"></span></p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-info">
                    <i class="fa fa-users text-large stat-icon"></i>
                </div>
                <div class="panel-right panel-item bg-reverse">
                    <p class="size-h1 no-margin">132</p>
                    <p class="text-muted no-margin"><span data-i18n="New users"></span></p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-warning">
                    <i class="fa fa-dollar text-large stat-icon"></i>
                </div>
                <div class="panel-right panel-item bg-reverse">
                    <p class="size-h1 no-margin">3,760</p>
                    <p class="text-muted no-margin"><span data-i18n="Profit"></span></p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-danger">
                    <i class="fa fa-shopping-cart text-large stat-icon"></i>
                </div>
                <div class="panel-right panel-item bg-reverse">
                    <p class="size-h1 no-margin">369</p>
                    <p class="text-muted no-margin"><span data-i18n="Sales"></span></p>
                </div>
            </section>
        </div>
    </div>
    <!-- end stats -->

    <section>
        <div class="row">
            <div class="col-md-6">

                <section class="panel panel-box">
                    <div class="panel-left panel-item bg-warning">
                        <i class="fa fa-sun-o text-huge"></i>
                    </div>
                    <div class="panel-right panel-item bg-reverse">
                        <p class="size-h1">66º</p>
                        <p class="text-muted">Sunny Day</p>
                    </div>
                </section>
                <section class="panel panel-box">
                    <div class="panel-left panel-item bg-reverse">
                        <p class="size-h1">56</p>
                        <p class="text-muted">Gifts Received</p>
                    </div>
                    <div class="panel-right panel-item bg-success">
                        <i class="fa fa-heart text-huge"></i>
                    </div>
                </section>

                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Table"></span></strong></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project</th>
                                <th>Manager</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>TWLT</td>
                                <td>Amery Lee</td>
                                <td><span class="label label-info">Pending</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>A16Z</td>
                                <td>Romayne Carlyn</td>
                                <td><span class="label label-primary">Due</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Q300</td>
                                <td>Marybeth Joanna</td>
                                <td><span class="label label-success">Due</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>DARK</td>
                                <td>Jonah Benny</td>
                                <td><span class="label label-danger">Blocked</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>RVNG</td>
                                <td>Daly Royle</td>
                                <td><span class="label label-warning">Suspended</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-sm-6">
                        <section class="panel panel-box">
                            <div class="panel-top bg-facebook">
                                <div class="divider divider"></div>
                                <i class="fa fa-facebook size-h1"></i>
                                <div class="divider divider"></div>
                            </div>
                            <div class="list-justified-container">
                                <ul class="list-justified text-center">
                                    <li>
                                        <p class="size-h3">575</p>
                                        <p class="text-muted">Followers</p>
                                    </li>
                                    <li>
                                        <p class="size-h3">23</p>
                                        <p class="text-muted">Following</p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="panel panel-box">
                            <div class="panel-top bg-twitter">
                                <div class="divider divider"></div>
                                <i class="fa fa-twitter size-h1"></i>
                                <div class="divider divider"></div>
                            </div>
                            <div class="list-justified-container">
                                <ul class="list-justified text-center">
                                    <li>
                                        <p class="size-h3">1345</p>
                                        <p class="text-muted">Followers</p>
                                    </li>
                                    <li>
                                        <p class="size-h3">42</p>
                                        <p class="text-muted">Following</p>
                                    </li>
                                </ul>
                            </div>
                        </section>                        
                    </div>
                </div>

                <section class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Progress"></span></strong></div>
                    <div class="panel-body" data-ng-controller="ProgressDemoCtrl">
                        <p>Tasks</p>
                        <progressbar class="progressbar-xs" value="55"></progressbar>
                        <p>Messages</p>
                        <progressbar class="progressbar-xs" value="43" type="success"></progressbar>
                        <p>Notifications</p>
                        <progressbar class="progressbar-xs" value="68" type="info"></progressbar>
                        <p>Mails</p>
                        <progressbar class="progressbar-xs" value="86" type="warning"></progressbar>
                        <p>Bugs</p>
                        <progressbar class="progressbar-xs" value="77" type="danger"></progressbar>
                    </div>
                </section>
            </div>
        </div>
    </section>

</div>
  