<ul id="nav"
    data-ng-controller="NavCtrl"
    data-collapse-nav
    data-slim-scroll
    data-highlight-active>
    <li><a href="#!/app/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard">Dashboard</span> </a></li>
    <li>
        <a href="#!/ui"><i class="fa fa-magic"></i><span data-i18n="UI Kit">UI Kit</span></a>
        <ul>
            <li><a href="#!/app/ui/typography"><i class="fa fa-caret-right"></i><span data-i18n="Typography">Typography</span></a></li>
            <li><a href="#!/app/ui/widgets"><i class="fa fa-caret-right"></i><span data-i18n="Widgets">Widgets</span> <span class="badge badge-success">11</span></a></li>
        </ul>
    </li>
    <li class="nav-task">
        <a href="#!/app/tasks">
            <i class="fa fa-tasks"></i><span data-i18n="Tasks">Tasks</span>
            <span class="badge badge-danger main-badge"
                  data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
        </a>
    </li>
</ul>