<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body data-custom-background >

    <!--div class="navbar navbar-inverse navbar-fixed-top" data-ng-include="'/public/system/views/header.html'" data-role="navigation"></div-->
    <div data-ng-controller="AppCtrl">
        <div data-ng-hide="isSpecificPage()"
             data-ng-cloak>
            <section data-ng-include=" 'public/app/views/header.html' "
                     id="header" class="top-header"></section>

            <aside data-ng-include=" 'public/app/views/nav.html' "
                   id="nav-container"></aside>
        </div>

        <div class="view-container">
            <section id="content" class="animate-fade-up" data-ui-view="view"></section>
        </div>
    </div>
    {% if adminEnabled %}
    <section class="admin-menu">
        <div data-ng-include="'/mean-admin/views/index.html'"></div>
    </section>
    {% endif %}
    <section class="content">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </section>
    {% include '../includes/foot.html' %}
</body>

</html>